<main class="min-vh-100 d-flex flex-column">
    <div class="container py-5 mb-5 animation">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a routerLink="/recetas" class="btn-volver text-decoration-none">
                <i class="bi bi-arrow-left"></i> Volver al listado
            </a>
            <h2 class="titulo-crear">Creación de receta</h2>
        </div>
        <mat-stepper orientation="vertical" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Tíulo</ng-template>
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ej. Natillas" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                        <button matButton matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Descripción</ng-template>
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ej. Deliciosa pasta con salsa pesto" required>
                    </mat-form-field>
                    <div>
                        <button matButton matStepperPrevious>Atrás</button>
                        <button matButton matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Imagen</ng-template>
                    <div>
                        <button matButton matStepperPrevious>Atrás</button>
                        <button matButton matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Final</ng-template>
                <div>
                    <button matButton matStepperPrevious>Atrás</button>
                    <button matButton (click)="stepper.reset()">Resetear campos</button>
                    <button matButton matStepperNext>Crear</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</main>