.receta-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 15px;
  overflow: hidden;
  animation: fadeInUp 0.4s ease;
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.receta-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
  cursor: pointer;
}

.badge {
  letter-spacing: 1px;
  padding: 6px 10px;
  border-radius: 20px;
}

.receta-img {
  height: 220px;
  transition: transform 0.3s ease;
}

.receta-card:hover .receta-img {
  transform: scale(1.05);
}

.busqueda {
  border-radius: 15px;
  overflow: hidden;
}

.form-control {
  transition: all 0.2s ease-in-out;
}

.form-control:hover {
  border-color: rgb(153, 214, 255);
}

.form-control:focus {
  border-color: rgb(153, 214, 255);
  box-shadow: 0 0 0 0.2rem rgba(153, 214, 255, 0.25);
}

.input-group .btn {
  border: none;
  background: transparent;
  color: rgb(170, 170, 170);
  transition: 0.2s ease;
}

.input-group {
  border-radius: 50px;
}

.input-group .btn:hover {
  color: rgb(255, 0, 25);
  transform: scale(1.3);
}
