<div class="container-fluid flex-grow-1 px-5 recetas-wrapper">
    <nav class="bg-light py-3 mt-3 shadow-sm busqueda">
        <div class="container">
            <div class="row g-3 align-items-end">

                <div class="col-12 col-md-4">
                    <div class="input-group shadow-sm">
                        <span class="input-group-text bg-white">
                            <i class="bi bi-basket"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar por ingrediente"
                            aria-label="Buscar por ingrediente" [(ngModel)]="filterIngrediente">
                        <button class="btn btn-outline-secondary" type="button" (click)="filterIngrediente = ''">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="input-group shadow-sm">
                        <span class="input-group-text bg-white">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar por nombre"
                            aria-label="Buscar por nombre" [(ngModel)]="filterSearch">
                        <button class="btn btn-outline-secondary" type="button" (click)="filterSearch = ''">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="input-group shadow-sm">
                        <span class="input-group-text bg-white">
                            <i class="bi bi-funnel me-2"></i> Tipo
                        </span>
                        <select class="form-select" [(ngModel)]="selectTipo">
                            <option value="">Todos</option>
                            <option value="desayuno">Desayuno</option>
                            <option value="cena">Cena</option>
                            <option value="merienda">Merienda</option>
                            <option value="almuerzo">Almuerzo</option>
                            <option value="comida">Comida</option>
                            <option value="postre">Postre</option>
                            <option value="bebida">Bebida</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @let recetasFiltradas = (recetas | recetaFilter:filterSearch | ingredienteFilter:filterIngrediente |
    tipoSelect:selectTipo);

    <div class="mb-5 mt-3 row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
        @if (recetasFiltradas.length) {
        @for (receta of recetasFiltradas; track receta.id) {
        <div class="col" [routerLink]="['/receta-detalle', receta.id]">
            <app-item-receta [receta]="receta"></app-item-receta>
        </div>
        }
        } @else {
        <div class="text-center mt-5">
            <h3 class="text-muted">No hay recetas disponibles</h3>
        </div>
        }
    </div>
</div>