.logo {
  height: 45px;
  filter:
    drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px 2px 0 white);
}

.brand-text {
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition: 0.3s ease;
  color: rgb(33, 37, 41);
  filter:
    drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px 2px 0 white);
}

.navbar-brand {
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  gap: 20px;
}

.navbar-brand:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.botones-nav {
  gap: 24px;
}

@media (max-width: 768px) {
  .brand-text {
    font-size: 1.4rem;
  }

  .logo {
    height: 30px;
  }

  .botones-nav {
    gap: 16px;
  }

  .botones-nav .btn {
    padding: 6px 12px;
    font-size: 0.8rem;
    margin-right: 0 !important;
  }

  .navbar-brand {
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .brand-text {
    font-size: 1.2rem;
  }

  .logo {
    height: 26px;
  }

  .botones-nav .btn {
    padding: 6px 12px;
    font-size: 0.75rem;
  }

  .botones-nav {
    gap: 12px;
  }

  .navbar-brand {
    gap: 10px;
  }
}