.logo {
  height: 50px;
  filter:
    drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px 2px 0 white);
}

.brand-text {
  font-size: 2rem;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.botones-nav .btn {
  padding: 8px 22px;
  transition: 0.3s ease;
}

@media (max-width: 992px) {

  .brand-text {
    font-size: 1.6rem;
  }

  .logo {
    height: 42px;
  }

  .botones-nav .btn {
    padding: 6px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {

  .brand-text {
    font-size: 1.4rem;
  }

  .logo {
    height: 38px;
  }

  .botones-nav .btn {
    padding: 5px 12px;
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {

  .brand-text {
    font-size: 1.2rem;
  }

  .logo {
    height: 32px;
  }

  .botones-nav .btn {
    padding: 4px 10px;
    font-size: 0.8rem;
  }

}